@import "./base.css";

#app {
  padding: 2rem;
  display: block;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

body {
  background: #222222;
  color: #fff;
}
input {
  padding: 4px;
  margin: 4px 2px;
  font-size: 19px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
}

button {
  border-style: double;
  padding: 4px;
  margin: 0 5px;
  background: none;
  font-size: 19px;
  border-color: #836bd2;
  color: #f2f2f2;
  cursor: pointer;
}
button.not-saved {
  border-color: #ff6b6b;
}
button.add-item {
  border-color: #26d912;
}
.mb-2 {
  margin-bottom: 20px;
}
.forms {
  width: 400px;
}
#wheel-content {
  position: relative;
  width: 600px;
  height: 600px;
}

.canvas {
  transform: rotate(0deg);
}
.arrow {
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  transform: rotate(90deg);
  position: absolute;
  top: -32px;
  background: #ff6b6b;
  height: 42px;
  width: 48px;
  z-index: 99;
}

.central-image {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("./photo_2023-12-10_01-06-41.jpg");
  background-size: 100%;
  border-radius: 100px;
  z-index: 10;
}
.container {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.winner {
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
