@import "./base.css";

#app {
  padding: 6rem;
  display: block;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

body {
  background: #222222;
  color: #fff;
}
input {
  padding: 4px;
  margin: 4px 2px;
  font-size: 19px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
}

.app-content {
  align-items: start;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

button {
  border-style: double;
  padding: 4px;
  margin: 0 5px;
  background: none;
  font-size: 19px;
  border-color: #836bd2;
  color: #f2f2f2;
  cursor: pointer;
}
button.not-saved {
  border-color: #ff6b6b;
}
button.add-item {
  border-color: #26d912;
}
.mb-2 {
  margin-bottom: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.forms {
  width: auto;
}
#wheel {
  position: relative;
  width: 700px;
  height: 700px;
}
.wheel-content {
  flex: 1;
}
.canvas {
  transform: rotate(0deg);
}
.arrow {
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  transform: rotate(90deg);
  position: absolute;
  top: -32px;
  background: #ff6b6b;
  height: 42px;
  width: 48px;
  z-index: 99;
}

.outer-arrow {
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  transform: rotate(90deg);
  position: absolute;
  height: 42px;
  width: 44px;
  background: #0000004d;
  top: -26px;
  z-index: 1;
}

.central-image {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("./photo_2023-12-10_01-06-41.jpg");
  background-size: 100%;
  border-radius: 100px;
  z-index: 10;
}

.wheel-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.type-select-fieldset {
  border-color: #626262;
  border-style: dashed;
  font-size: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.winner {
  text-align: center;
  justify-content: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  #app {
    padding: 2rem;
  }
}
@media (max-width: 1200px) {
  .wheel-wrapper {
    margin-top: 80px;
  }
}
